<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="AppComponents" Directory="INSTALLFOLDER">
      <Component Id='INSTALLFOLDER' Guid='9932ce6a-bf07-478b-806f-3b8589186834'>
        <RemoveFolder Id='INSTALLFOLDER' On='uninstall' />
      </Component>    
      
      <Files Include="!(bindpath.bin)**">
        <Exclude Files="!(bindpath.bin)runtimes\**" />
        <Exclude Files="!(bindpath.bin)*.pdb" />
        <Exclude Files="!(bindpath.bin)DarkestDungeonSaveManager.deps.json" />
        <Exclude Files="!(bindpath.bin)DarkestDungeonSaveManager.dll.config" />
        <Exclude Files="!(bindpath.bin)DarkestDungeonSaveManager.exe" />
      </Files>    
      
      <Component>
        <File Id="DarkestDungeonSaveManager.exe" Source="DarkestDungeonSaveManager.exe"/>         
        <Shortcut Icon="AppIcon.exe" 
                  Name="DarkestDungeonSaveManager"
                  Directory="DesktopFolder" 
                  WorkingDirectory="INSTALLFOLDER"
                  Advertise="yes" 
                  />
        <Shortcut Id="Uninstall"
                  Name="Uninstall"
                  Target="[SystemFolder]msiexec.exe"
                  Arguments="/x [ProductCode]"/>
      </Component>    

    </ComponentGroup>

    <Icon Id="AppIcon.exe" SourceFile="!(bindpath.icons)\AppIcon.ico" />

    <!-- https://wixtoolset.org/docs/v3/howtos/files_and_registry/ -->
    <DirectoryRef Id="ProgramMenuAppFolder"> 
      <Component Id="ProgramMenuShortcutComponent" Guid="9aaa2de0-810f-4304-acc5-e84e2ca8d17c">
        <Shortcut Icon="AppIcon.exe"
                  Name="DarkestDungeonSaveManager"
                  Target="[#DarkestDungeonSaveManager.exe]"
                  WorkingDirectory="INSTALLFOLDER"
                  />
        <Shortcut Id="UninstallProgramMenu"
                  Name="Uninstall"
                  Target="[SystemFolder]msiexec.exe"
                  Arguments="/x [ProductCode]"/>
        <RemoveFolder Id="CleanUpShortcut" Directory="ProgramMenuAppFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\!(bind.property.Manufacturer)\!(bind.Property.ProductName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
